body{
 background-color: #eeffee;
}

p {
 line-height: 60%;
 color: #000000;
 font-size: 200%;
 font-family: courier;
}

button {
 border-color: #00ccff;
 border-left-style: solid;
 border-weight: 7px;
 background-color: powderblue;
 font-size: 30px;
}

hr {
 border-bottom: 5px solid black;
}
